<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title></title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.cyan-light_blue.min.css">
  <link rel="stylesheet" href="/css/custom.css">

</head>
<body>


<div class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <header class="mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600 mdl-layout__header--seamed">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title mobile-title">
        <img class="title-image" src="images/ifrc-square.png">
        <span class="mdl-layout--large-screen-only">Title</span>
      </span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="/">Home</a>
        <a class="mdl-navigation__link" href="/find">Find</a>
        <a class="mdl-navigation__link" href="/share">Share</a>
      </nav>
      <nav class="mdl-navigation mdl-layout--small-screen-only">
        <button id="menu--small-screen" class="mdl-button mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons" role="presentation">menu</i>
          <span class="visuallyhidden">navigation menu</span>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu--small-screen">
          <a class="mdl-menu__item" href="/">Home</a>
          <a class="mdl-menu__item" href="/find">Find</a>
          <a class="mdl-menu__item" href="/share">Share</a>
        </ul>
      </nav>
    </div>
  </header>

  <main class="mdl-layout__content">
    <div class="mdl-grid">
        {{{body}}}
    </div>
  </main>

</div>

<script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script> <!-- required for ajaxSubmit function -->

<script>

var notification = document.querySelector('.mdl-js-snackbar');
function toast(text){
  notification.MaterialSnackbar.showSnackbar( { message: text } );
}

</script>
</body>
</html>
