<div class="mdl-cell mdl-cell--12-col">

  <div class="mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Create a new user</h2>
    </div>
    <div class="mdl-card__actions">
      <form action="/user" method="POST">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="user" pattern="[a-zA-Z0-9]+" required>
          <label class="mdl-textfield__label" >User...</label>
          <span class="mdl-textfield__error">Only letters or numbers.</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="password" name="password" required>
          <label class="mdl-textfield__label" >Password...</label>
        </div>
        <div class="mdl-card__actions">
          <button class="mdl-button mdl-js-button mdl-button--colored">Create</button>
        </div>
      </form>
    </div>
  </div>

  <hr>

{{#if error}}
  <p><strong>FLASH!</strong> {{ error }}</p>
{{/if}}
{{#if success}}
  <p><strong>FLASH!</strong> {{ success }}</p>
{{/if}}

  <hr>

  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">User</th>
        <th class="mdl-data-table__cell--non-numeric">Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td class="mdl-data-table__cell--non-numeric">{{user}}</td>
        <td>
          <form action="/user" method="POST">
            <input type="hidden" name="_method" value="DELETE" />
            <input type="hidden" name="user" value="{{user}}" />
            <button class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">delete</i></button>

          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>


</div>
