<div class="row">
  <div class="small-8 small-offset-2 medium-6 medium-offset-3 columns">
    {{#if error}}
      <div class="callout warning" data-closable>
        <span><strong>Error: </strong> {{ error }}</span>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {{/if}}
    {{#if success}}
      <div class="callout success" data-closable>
        <span><strong>Success: </strong> {{ success }}</span>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {{/if}}
  </div>
</div>

<div class="row">
  <div class="small-8 small-offset-2 medium-6 medium-offset-3 columns">
    <h4>Create a new user</h4>
    <form action="/user" method="POST">
      <label> User
        <input type="text" name="user" pattern="[a-zA-Z0-9]+" placeholder="..." aria-describedby="userHelpText">
      </label>
      <p class="help-text" id="userHelpText">User must be only letters and numbers.</p>
      <label> Password
        <input type="password" name="password" placeholder="...">
      </label>
      <button type="submit" value="submit" class="button">Create</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="small-10 small-offset-1 medium-6 medium-offset-3 columns">
    <hr>
    <h4>Remove an existing user</h4>
    <table>
      <thead>
        <tr><th>User</th><th>Delete</th></tr>
      </thead>
      <tbody>
        {{#each users}}
        <tr>
          <td>{{user}}</td>
          <td>
            <form action="/user" method="POST">
              <input type="hidden" name="_method" value="DELETE" />
              <input type="hidden" name="user" value="{{user}}" />
              <button type="submit" value="submit" class="button small alert" style="margin:0;">Delete</button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
