<div class="row">
<br>
<div class="small-6 small-offset-3 medium-4 medium-offset-4 columns">
{{#if user}}
  <h5>Welcome {{user.user}}. You are logged in.</h5>
{{else}}

  	<form action="/login" method="POST">
      <label> User
        <input type="text" name="user" id="login-user" placeholder="...">
      </label>
      <label> Password
        <input type="password" name="password" id="login-password" placeholder="...">
      </label>
      <button type="submit" value="submit" class="button">Log In</button>

  	</form>

{{/if}}
</div>
</div>
