
{{> nav}}

<br>

<div class="row">
  <div class="small-12 medium-offset-1 medium-10 columns about-block box" style="">

		<div class="tableauPlaceholder" id="viz1673978093485" style="position: relative">
			<noscript>
				<a href="#">
					<img alt="MAIN DASH " src="https://public.tableau.com/static/images/Co/CommunityProfile20230112_16738800187710/MAINDASH/1_rss.png" style="border: none">
				</a>
			</noscript>
			<object class="tableauViz" style="display:none;">
				<param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F">
				<param name="embed_code_version" value="3">
				<param name="site_root" value="">
				<param name="name" value="CommunityProfile20230112_16738800187710/MAINDASH">
				<param name="tabs" value="no">
				<param name="toolbar" value="yes">
				<param name="static_image" value="https://public.tableau.com/static/images/Co/CommunityProfile20230112_16738800187710/MAINDASH/1.png">
				<param name="animate_transition" value="yes">
				<param name="display_static_image" value="yes">
				<param name="display_spinner" value="yes">
				<param name="display_overlay" value="yes">
				<param name="display_count" value="yes">
				<param name="language" value="en-US">
			</object>
		</div>

  </div>
</div>
<br>
<br>
<br>

<script type="text/javascript">
  var divElement = document.getElementById('viz1673978093485');
  var vizElement = divElement.getElementsByTagName('object')[0];
  if (divElement.offsetWidth > 800) {
      vizElement.style.minWidth = '600px';
      vizElement.style.maxWidth = '900px';
      vizElement.style.width = '100%';
      vizElement.style.height = '1527px';
  } else if (divElement.offsetWidth > 500) {
      vizElement.style.minWidth = '600px';
      vizElement.style.maxWidth = '900px';
      vizElement.style.width = '100%';
      vizElement.style.height = '1527px';
  } else {
      vizElement.style.width = '100%';
      vizElement.style.height = '2527px';
  }
  var scriptElement = document.createElement('script');
  scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
  vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>
