<div class="mdl-card mdl-shadow--4dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Upload a VCA</h2>
  </div>
  <form id="upload" action="/upload" enctype="multipart/form-data" method="POST">
    <div class="mdl-card__supporting-text">
      <label for="vcaFile">Select a file (.doc, .docx, .pdf):</label>
      <input type="file" id="csvFile" name="vcaFile" accept=".doc,.docx,.pdf" required />
    </div>
    <div class="mdl-card__supporting-text">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input id="title" class="mdl-textfield__input" type="text" name="title" value="" required>
        <label class="mdl-textfield__label" for="">Title...</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <textarea id="description" class="mdl-textfield__input" type="text" name="description" rows= "3" required></textarea>
        <label class="mdl-textfield__label">Description...</label>
      </div>

    </div>
    <div class="mdl-card__supporting-text">
      <label for="country">Country:</label><br>
      <select id="country" name="country" required>
        <option selected disabled hidden style="display: none" value="">Select a country...</option>
        {{#each countries}}
            <option value="{{code}}">{{EN}}</option>
        {{/each}}
      </select>
    </div>
    <div class="mdl-card__supporting-text">
      <label for="year">Year VCA was completed:</label><br>
      <select id="year" name="year" required>
        <option selected disabled hidden style="display: none" value="">Select a year...</option>
        <option value="2017">2017</option><option value="2016">2016</option><option value="2015">2015</option><option value="2014">2014</option><option value="2013">2013</option><option value="2012">2012</option><option value="2011">2011</option><option value="2010">2010</option><option value="2009">2009</option><option value="2008">2008</option><option value="2007">2007</option><option value="2006">2006</option><option value="2005">2005</option><option value="2004">2004</option><option value="2003">2003</option><option value="2002">2002</option><option value="2001">2001</option><option value="2000">2000</option><option value="1999">1999</option><option value="1998">1998</option><option value="1997">1997</option><option value="1996">1996</option><option value="1995">1995</option><option value="1994">1994</option><option value="1993">1993</option><option value="1992">1992</option><option value="1991">1991</option><option value="1990">1990</option><option value="1989">1989</option><option value="1988">1988</option>
      </select>
    </div>

      <div class="mdl-card__actions">
        <button class="form-actions__submit mdl-button mdl-js-button"><i class="material-icons">check</i> Submit</button>
        <button class="form-actions__clear mdl-button mdl-js-button">Clear form</button>
      </div>
  </form>
</div>

<div id="spinner" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
<div id="uploadmessage"></div>


<script>


var clearForm = function(){
  $("#upload").find("input").val("");
  $("#description").val('');
  $("#year").val('');
  $("#country").val('');
}

window.onload = function() {
  var upload = $("#upload");
  upload.find(".form-actions__clear").click(function(e) {
      e.preventDefault();
      clearForm();
  });
  upload.submit(function() {
    $(this).ajaxSubmit({
      beforeSubmit: function(){
        clearForm();
        $("#spinner").show();
        return true;
      },
      error: function(xhr) {
        toast('Error: ' + xhr.status);
      },
      success: function(response) {
        $("#spinner").hide();
        $("#uploadmessage").html("<h4>" + response.message + "</h4>");
        setTimeout(function(){
          $("#uploadmessage").empty()
        }, 4000);
        // toast(response.message);
      }
    });
    return false;
  });

  upload.find(".modal-actions__cancel").click(function(e) {
    e.preventDefault();
  });

}

</script>
