.mdl-grid {
  max-width: 1000px;
}
.title-image  {
  height: 50px;
  margin-right: 12px;
}
.mdl-layout.is-small-screen .title-image {
  height: 46px;
}
.mdl-layout.is-small-screen .mobile-title {
  display: block !important;
  position: absolute;
  left: calc(50% - 25px);
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.mdl-navigation.mdl-layout--large-screen-only .mdl-navigation__link {
  display: inline-block;
  height: 60px;
  line-height: 68px;
  background-color: transparent !important;
  border-bottom: 4px solid transparent;
}
.mdl-navigation.mdl-layout--large-screen-only .mdl-navigation__link:hover {
  border-bottom: 4px solid #ed1b2e;
}
.mdl-navigation.mdl-layout--small-screen-only .mdl-menu__container.is-upgraded.is-visible {
  right: 10px !important;
}

.modal-container {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: scroll;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}
.modal-container > div {
  position: relative;
  width: 90%;
  max-width: 600px;
  min-height: 25px;
  margin: 10% auto;
  z-index: 99999;
  padding: 16px 16px 0;
}
.modal-container .mdl-textfield {
  width: 500px;
}
.modal-button-bar {
  text-align: right;
  margin-top: 8px;
}

#spinner {
  height: 80px;
  width: 80px;
  margin: 20px;
  display: none;
}
select {
  background-color: transparent;
  border: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.5);
}

.table-row__edit-btn {
  cursor: pointer;
  color: #6d6e70;
}
.table-row__edit-btn:hover {
  color: rgb(0,188,212);
}

.column-search {
  width: 100%;
}
.column-search:focus {
  outline-color: rgb(0,188,212)
}

/*#table-div table.dataTable { border-collapse: collapse; }
table.dataTable tbody td, table.dataTable tbody th { padding: .5em 1em; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
table.dataTable tbody tr { background: none; }*/
table.dataTable thead .sorting_asc { background-image: url("../images/sort_asc.png"); }
table.dataTable thead .sorting_desc { background-image: url("../images/sort_desc.png"); }
.dataTables_wrapper .dataTables_paginate .paginate_button { border: none; }
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover { background: #eee; }
.dataTables_wrapper .dataTables_paginate .paginate_button:hover { background: #c0c0c0; }

#dataTable_length, #dataTable_info, #dataTable_paginate  {
  font-family: inherit;
  color: #6d6e70;
  color: rgba(0, 0, 0, 0.65);
}

table.dataTable td, table.dataTable th {
  /*line-height: 1em;
  border: 1px solid #aaa;
  padding: 6px 6px;*/
}
table.dataTable thead .column-search {
  max-width: 150px;
}
table.dataTable thead th {
  text-align: left;
}

.dataTables_length select {
  background-color: transparent;
  color: #6d6e70;
  color: rgba(0, 0, 0, 0.65);
  border: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.5);
}
.dataTables_length select:focus {
  outline: none
}

.noUi-connect {
  background: rgba(0,188,212,0.5);
}
.noUi-handle {
  display: none;
}
.noUi-horizontal {
  height: 12px;
  margin: 6px 0px;
}
.noUi-target, .noUi-connect {
  box-shadow: none;
}
#loading {
  text-align: center;
  width: 100%;
}
#loading .mdl-spinner {
  height: 70px;
  width: 70px;
  margin: 50px;
}
#nodata {
  display: none;
  text-align: center;
  font-size: 18px;
  margin: 50px;
}
