
<!-- TODO: remove this temporary spacer  -->
<div style="height:24px;"></div>

<div class="row">
  <div class="column" style="text-align:center;">
    <h4>{{site.data[locale].about.movement}}</h4>
  </div>
</div>

<!-- TODO: remove this temporary spacer  -->
<div style="height:24px;"></div>

<div class="column row">
  <div class="small-10 small-offset-1 medium-8 medium-offset-2 columns">
    <p>{{site.data[locale].dev.lorem1}}</p>
  </div>
</div>

{% include overview.html %}


<div class="column row">
  <div class="small-10 small-offset-1 medium-8 medium-offset-2 columns">
    <p>{{site.data[locale].dev.lorem2}}</p>
    <p>{{site.data[locale].dev.lorem3}}</p>
    <p>{{site.data[locale].dev.lorem4}}</p>
  </div>
</div>
