<div data-sticky-container>
  <div class="title-bar" data-responsive-toggle="navigation-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
  </div>
  <div class="top-bar custom-navigation__top-bar" id="navigation-menu" data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu>
        {% for nav in site.data[locale].nav %}
          {% if nav.url %}
            <li><a class="custom-navigation__link" href="{{nav.url}}">{{nav.text}}</a></li>
          {% endif %}
        {% endfor %}
            <li>
              <a href="#">{{locale}}</a>
              <ul class="menu">
                {% for loc in site.authorized_locales %}
                {% assign pg = site.pages | where:"lang",{{loc}} | where:"id",page.id | first %}
                <li>
                  <a href="{{site.baseurl}}{{pg.url}}">{{loc}}</a>
                </li>
                {% endfor %}
              </ul>
            </li>
      </ul>
    </div>
  </div>
</div>

<div class="hide-for-medium custom-navigation_spacer"></div>
