.custom-navigation__top-bar {
  padding: 0;
  text-transform: uppercase;
}
.custom-navigation__link  {
  background-color: transparent !important;
  border-bottom: 4px solid transparent;
}
.custom-navigation__link:hover {
  border-bottom: 4px solid #ed1b2e;
}
.custom-navigation__top-bar a {
  text-decoration: none;
  color: inherit;
}
.custom-navigation_spacer {
  height: 60px;
}
.hidden {
  display: none;
}


#overview_map {
  width: 100%;
  text-align:center;
}
.overview_fact {
  text-align: center;
}
.country__focus {
  stroke: #000;
  stroke-linecap: round;
}
#tooltip {
    position:absolute;
    z-index:999;
    font-size:14px;
    color: #1a1a1a;
    background-color: rgba(245,245,245,1);
    border-radius: 3px;
    padding: 4px 6px;
    max-width: 300px;
}
#tooltip:empty {
    display:none;
}



// css for /admin/documents
// ########################

.table-row__edit-btn {
  cursor: pointer;
  color: #6d6e70;
}
.table-row__edit-btn:hover {
  color: rgb(0,188,212);
}

table.dataTable thead .sorting_asc { background-image: url("../images/sort_asc.png"); }
table.dataTable thead .sorting_desc { background-image: url("../images/sort_desc.png"); }
.dataTables_wrapper .dataTables_paginate .paginate_button { border: none; }
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover { background: #eee; }
.dataTables_wrapper .dataTables_paginate .paginate_button:hover { background: #c0c0c0; }

.noUi-connect {
  background: rgba(0,188,212,0.5);
}
.noUi-handle {
  display: none;
}
.noUi-horizontal {
  height: 12px;
  margin: 6px 0px;
}
.noUi-target, .noUi-connect {
  box-shadow: none;
}

#loading {
  display: none;
  text-align: center;
  margin: 50px;
}
#nodata {
  display: none;
  text-align: center;
  font-size: 18px;
  margin: 50px;
}
