$rc-red: #ed1b2e;
$deep-red: #74181b;

body {
  background: url('/images/img/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.box {
  background: #fff;
  background: rgba(255,255,255,0.9);
}

.language-picker-large {
  margin: rem-calc(6 12);
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent !important;
}
.language-picker a {
  text-decoration: none;
  text-transform: uppercase;
}
.language-picker-large a {
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  color: #fff;
}
.language-picker a:hover {
  color: $deep-red;
}
.language-nav-dropdown {
  min-width: 0;
  border: none;
}
.language-picker-large .language-nav-dropdown {
  background-color: transparent !important;
}

.hidden {
  display: none;
}

.brand {
  margin: 0;
  padding: rem-calc(30 0 10);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  color: #fff;
}
.main-header {
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  color: #fff;
}

.custom-nav {
  line-height: normal;
}
.custom-nav.show-for-medium {
  margin-bottom: rem-calc(16);
}
.custom-nav-small-dropdown {
  min-width: 0;
  border: none;
}
.no-arrow::after {
  display: none !important;
}
.custom-nav li {
  padding: rem-calc(10 20);
  font-size: 1.3rem;
}

.action-text {
    cursor: pointer;
    color: $secondary-color;
}
.action-text:hover {
    color: $deep-red;
}

// css for _includes/find.html
// ###############################
#find-loader {
  text-align: center;
  margin: 50px;
}
#map-header .country-flag {
  width: 34px;
  float: left;
  margin-right: 15px;
  padding-top: 4px;
}

.country-card {
  cursor: pointer;
}
.country-card .country-flag {
  width: 24px;
  float: left;
  margin-right: 15px;
  padding-top: 4px;
}

.find-country {
  fill: rgba(237, 27, 46, 0.2);
  stroke: $deep-red;
  stroke-width: 1px;
  cursor: pointer;
  pointer-events: all;
  stroke-linecap: round;
}
.find-country.find-country__focus {
  stroke: $rc-red;
  stroke-width: 2px;
}
.find-country.find-country__active {
  stroke: $rc-red;
  stroke-width: 2px;
  fill: none;
}

/*styling for marker clusters*/
.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;
	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
	line-height: 30px;
}
.marker-cluster-small {
  background-color: rgba(255, 255, 255, 0.5);
}
.marker-cluster-small div {
  background-color: rgba(237, 27, 46, 0.7);
}

.marker-cluster-medium {
  background-color: rgba(255, 255, 255, 0.5);
}
.marker-cluster-medium div {
  background-color: rgba(237, 27, 46, 0.7);
}

.marker-cluster-large {
  background-color: rgba(255, 255, 255, 0.5);
}
.marker-cluster-large div {
  background-color: rgba(237, 27, 46, 0.7);
}
.marker-cluster div {
  color: #FFF;
  text-align: center;
  border-radius: 15px;
  font: bold 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

// css for _includes/overview.html
// ###############################

#overview_map {
  width: 100%;
  height: 450px;
}
#overview_map svg path {
  pointer-events: all;
}
.leaflet-container {
    background-color:rgba(255,255,255,0.4);
}
.overview_fact {
  text-align: center;
}
.country__default {
  cursor: pointer;
  pointer-events: all;
  fill: #404341;
  // fill: rgba(16,20,18,0.8);
  stroke-linecap: round;
}
.country__default.country__focus {
  stroke: #000;
  stroke-width: 1px;
}
.country__active {
  fill: $rc-red;
  stroke: $deep-red;
}
.country__active.country__focus {
  stroke: $deep-red;
  stroke-width: 2px;
}
.about-block {
  padding: rem-calc(30);
}

#tooltip {
    position:absolute;
    z-index:999;
    font-size:14px;
    color: #1a1a1a;
    background-color: rgba(245,245,245,1);
    border-radius: 3px;
    padding: 4px 6px;
    max-width: 300px;
}
#tooltip:empty {
    display:none;
}

#about-logos {
  text-align: center;
}
#about-logos img {
  height: 70px;
  margin: 10px 30px;
}


// css for /admin/documents
// ########################

.table-row__edit-btn {
  cursor: pointer;
  color: #6d6e70;
}
.table-row__edit-btn:hover {
  color: rgb(0,188,212);
}

table.dataTable thead .sorting_asc { background-image: url("../images/sort_asc.png"); }
table.dataTable thead .sorting_desc { background-image: url("../images/sort_desc.png"); }
.dataTables_wrapper .dataTables_paginate .paginate_button { border: none; }
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover { background: #eee; }
.dataTables_wrapper .dataTables_paginate .paginate_button:hover { background: #c0c0c0; }

.noUi-connect {
  background: rgba(0,188,212,0.5);
}
.noUi-handle {
  display: none;
}
.noUi-horizontal {
  height: 12px;
  margin: 6px 0px;
}
.noUi-target, .noUi-connect {
  box-shadow: none;
}

#loading {
  display: none;
  text-align: center;
  margin: 50px;
}
#nodata {
  display: none;
  text-align: center;
  font-size: 18px;
  margin: 50px;
}

#search-box .tt-menu{
  max-height: 200px;
  overflow-y: scroll;
  overflow-y: -moz-scrollbars-vertical;
}
.twitter-typeahead {
  width: 100%;
}
.typeahead {
  background-color: #fff;
}
.tt-menu .empty-message {
  text-align: center;
}
.tt-hint {
  color: #999
}
.tt-menu {
  text-align: left;
  width: 100%;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid $secondary-color;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.tt-suggestion {
  padding: 3px 20px;
}
.tt-suggestion:hover  {
  cursor: pointer;
  color: #fff;
  background-color: $secondary-color;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: $secondary-color;
}
.tt-highlight {
  background-color: rgba(236,183,49,.6);
}
.tt-suggestion:hover .tt-highlight  {
  font-weight: inherit;
  background-color: inherit;
}
 p.tt-suggestion {
  margin: 0;
}